@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-unida-primary: #1a56db;
  --color-unida-hover: #1e40af;

  --animate-fade-in-up: fadeInUp 0.5s ease-out forwards;

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

body {
  @apply font-sans antialiased;
}
