<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Connecting...</title>
  </head>

  <body>
    <h1>Connecting to Hotspot...</h1>
    <form action="{{ linkLoginOnly }}" method="POST" name="login">
      <input type="hidden" name="dst" value="{{ destination }}" />
      <input type="hidden" name="popup" value="false" />
      <input type="hidden" name="username" value="{{ username }}" />
      <input type="hidden" name="password" value="{{ password }}" />
    </form>

    <script type="text/javascript">
      // Automatically submit the form after 1.5 seconds
      window.onload = function () {
        window.setTimeout(function () {
          document.login.submit();
        }, 1500);
      };
    </script>
  </body>
</html>
